@media screen and (max-width: 499px) {

    .navbar {
        height: 51.6px;
    }

    .navbar ul {
        flex-wrap: wrap;
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .active {
        display: block;
    }

    .hero {
        margin-top: 51.6px;
    }

    .kamar-container__flex {
        flex-wrap: wrap;
    }

    .kamar-container {
        padding: 30px;
        margin: 100px 20px;
    }

    .fasilitas-container {
        padding: 50px;
    }

    .kartus {
        grid-template-columns: repeat(2, 1fr);
    }

    .kontak-container {
        padding: 50px;
    }

    .kontak-container {
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .kontak-container__flex,
    .tentang-container__flex {
        flex-wrap: wrap;
    }

    .kontak-container__kontak,
    .tentang-container__text {
        width: 100%;
    }

    .kontak-container__map,
    .tentang-container__gambar {
        background-color: var(--white-color);
        width: 100%;
        margin-top: 20px;
    }

    .hero-container,
    .tentang-container {
        padding: 50px;
    }

    .card-tentang {
        display: none;
    }


    #button-kamar {
        display: none;
    }

    .kontak-container {
        padding: 50px 0px;
    }
    
    .kontak-container__flex {
        padding: 0px;
        display: grid;
        grid-template-rows: 1fr 2fr;
    }

    .destinasi-list {
        width: 300px;
    }
    
    .destinasi-thumbnail {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .kamar-container__flex {
        flex-wrap: wrap;
    }

    .kamar-container {
        padding: 30px;
        margin: 0 20px;
    }

    .fasilitas-container,
    .tentang-container,
    .hero-container {
        padding: 50px;
    }

    .kartus {
        grid-template-columns: repeat(2, 1fr);
    }

    .tentang-container__flex {
        flex-wrap: wrap;
    }

    .tentang-container__text {
        width: 100%;
    }

    .card-tentang {
        display: none;
    }

    #button-kamar {
        display: none;
    }

    .kontak-container__flex {
        padding: 20px;
        display:grid;
        grid-template-rows: 1fr 2fr;
        border-radius: 10px;
    }
    
    .kontak-container__kontak {
        text-align: left;
        padding: 10px 10px;
    }
    
    .kontak-container__map {
        position:static;
        margin: auto;
        width: 100%;
        border-radius: 10px;
    }

    .card-map  iframe {
        width: 100%;
        max-height: 350px;
    }
}

@media screen and (max-width: 945px) {
    .navbar {
        height: 51.6px;
    }

    .navbar ul {
        flex-wrap: wrap;
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .active {
        display: block;
    }


}


@media screen and (min-width: 1200px) {
    navbar {
        height: 68.5px;;
    }
    .navbar ul {
        max-width: 1230px;
    }

    .kamar-container {
        width: 1400px;
    }

    .kontak-container {
        padding: 150px 0px;
    }
}