@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

:root {
    --primary-color: #6D9886;
    --secondary-color: #696969;
    --white-color: #FFFFFF;
    --dark-color: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* .navbar {
    position: sticky;
    padding: 5px 0;
    border-bottom: 1px solid #c2c2c2;
} */

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--white-color);
    color: var(--dark-color);
    margin: 0 auto;
}

.navbar li {
    list-style: none;
    padding: 15px;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: var(--dark-color);
    transition: all 0.3s ease 0s;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    -webkit-user-select: none;
    user-select: none;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
}

.navbar-links:hover a {
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.button-primary {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #6ABB9E;
    padding: 12px 20px;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
    border: none;
}

.button-primary:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(109, 152, 134, 0.4);
}